<div>
    <Card Size="small" Title="@Data.Title" Style="width: 320px; border-width:2px; background-color:whitesmoke">
        <Extra>
            @foreach(var tag in Data.TagInfos)
            {
                <Tag Color="@tag.Color">@tag.Title</Tag>
            }
        </Extra>
        <Body>
            @foreach(var content in Data.Contents)
            {
                <div class="boxContainer">
                    <div class="box1"><Text Strong>@content.Title : </Text></div>
                    <div class="box1">@content.Value</div>
                </div>
                @*<div class="boxDivider"></div>*@
            }
        </Body>
    </Card>
</div>


<style>
    .box1{
        float: left;
        width: 150px;
    }
    .boxContainer{
        overflow: hidden;
        width: 300px;
    }
    .boxDivider{
        width: 100%;
        height: 1px;
        background-color: palegoldenrod;
    }
</style>




